@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
	  background-color: #f0eee8;
  font-family: 'Quicksand', sans-serif;
  color:#3e3e3e;
}	
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
li {
  list-style: none;
}

a {
  color: #3333;
  text-decoration: none;
}
.container {
	max-width: 1000px;
	width: 100%;
	margin:0 auto;
}
.flex {
	display: flex;
}
header {
	position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
   background-color: #f0eee8;
   width:100vw;
}
header a {
	text-decoration: none;
	padding: 20px;
	display: block;

}
header ul {
	list-style: none;
	display: flex;
}
#nav-bar li a{
	color: #e20069;
}
.logo > img{
	display:flex;
	width:100%;
	height:100%;
	max-width: 200px;
	max-height:200px;
}
nav {
	 margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    padding: 0 50px;
}
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 5em;
}
#cta h1 {
	margin: 1em;
}

#cta input {
	max-width: 15em;
	width: 100%;
	margin-bottom: 1em;
	max-height:1.5em;
	height:100%;
}
#cta input[type="submit"] {
	max-height:2em;
	border:2px solid transparent;
	color:#e20069;
	background-color: #4fbcb8;
	font-weight: 600;
	letter-spacing: 0.15em;
	transition-property: border, background-color, color;
		transition-duration: 0.3s;

}
#cta input[type="submit"]:hover {
	border:2px solid #e20069;
		background-color: transparent;
		color: #e20069;
}

#features {
  margin-top: 30px;
  flex-direction: row;
  }
  #features .icon {
  display: flex;
    margin:0;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color:#4fbcb8 ;
  text-shadow: 1px 1px 0px #E20069;
  font-size: 3em;
}
#features .desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
#features h2 {
	color: #e20069;
	font-weight: 600;
}
#video {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#video > iframe {
  max-width: 560px;
  width: 100%;
}
#pricing {
margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #e20069;
  border-radius: 3px;
  padding-bottom:2em;
}
@media screen and (max-width: 800px){
	#pricing {
		flex-direction: column;
	}
	.product {
		width:70vw;
		margin:15px auto;
	}
}
.product > h2 {
	margin:1em;
}
.product > ol {
	padding-right: 2em;
}
.product > .btn {
	margin-top:2em;
	max-height:2em;
	border:2px solid transparent;
	color:#e20069;
	background-color: #4fbcb8;
	font-weight: 550;
	letter-spacing: 0.1em;
	transition-property: border, background-color, color;
		transition-duration: 0.3s;
}
.product >.btn:hover {
	border:2px solid #e20069;
		background-color: transparent;
		color: #e20069;
}
.prod-heading {
	margin:0 1em;
	color:#e20069;
	background-color: #4fbcb8;
	font-size:1.5em;
	width: 100%;
	height:100%;
	text-align: center;
	padding:15px 0;
	font-weight:500;
}
footer {
  margin-top: 30px;
  background-color: #4fbcb8;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color:#333;
}
footer a {
	color:#e20069;
}
@media screen and (max-width: 550px) {
	#cta > h1 {
		font-size:1.5em;
		padding:25px;
	}
	#features .icon {
		display:none;
	}
	#features {
		margin-left:1.5em;
	}
}